:root {
    --v-animation-duration: 750ms;
    --v-completed-color: #7fffd4;
}

#add-element-label {
    display: block;
}

.task-completed {
    background-color: var(--v-completed-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes completedTaskFadeIn {
    from {
        background-color: transparent;
    }

    to {
        background-color: var(--v-completed-color);
    }
}

@keyframes completedTaskFadeOut {
    from {
        background-color: var(--v-completed-color);
    }

    to {
        background-color: transparent;
    }
}

.fade-in {
    animation: fadeIn var(--v-animation-duration) forwards;
}

.fade-out {
    animation: fadeOut var(--v-animation-duration) forwards;
}

.task-completed-fade-in {
    animation: completedTaskFadeIn var(--v-animation-duration) forwards;
}

.task-completed-fade-out {
    animation: completedTaskFadeOut var(--v-animation-duration) forwards;
}