:root {
    --v-animation-duration: 750ms;
    --v-completed-color: #7fffd4;
    --v-primary-background-color: rgb(168, 168, 168);
    --v-tertiary-background-color: rgb(114, 114, 114);
    --v-secondary-background-color: rgb(212, 211, 211);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    margin: 0;
    background-color: var(--v-tertiary-background-color);
    display: flex;
    justify-content: center;
    height: 100vh;
}

#to-do-app-container {
    width: 60%;
    max-width: 530px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#add-element-container,
#to-do-list-container {
    background-color: var(--v-primary-background-color);
    padding: 1rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    border-color: black;
}

#add-element-container {
    margin-top: 1.5rem;
}

#to-do-list-container {
    margin-bottom: 1.5rem;
}

#add-element-label {
    display: block;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1.2rem;
}

#add-element-flex {
    display: flex;
    gap: 1rem;
}

#add-element-value {
    flex: 1;
}

#to-do-list-container {
    flex: 1;
    overflow-y: auto;
}

#list-title {
    font-size: 2rem;
}

#to-do-list-filter-container {
    padding: 1rem 0 1rem 0;
}

.to-do-list-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    border-color: black;
    background-color: var(--v-secondary-background-color);
}

.to-do-list-item-value {
    flex: 1;
    overflow: auto;
}

.to-do-list-item-edit {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.to-do-list-item-edit>input[type="text"] {
    flex: 1;
}

input[type="button"] {
    width: 56px;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    border-color: black;
}

input[type="checkbox"] {
    margin-left: 0;
}

input[type="text"],
#to-do-list-filter {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}

.task-completed {
    background-color: var(--v-completed-color);
}

@media only screen and (max-width: 600px) {
    #to-do-app-container {
        width: 100%;
        max-width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes completedTaskFadeIn {
    from {
        background-color: var(--v-secondary-background-color);
    }

    to {
        background-color: var(--v-completed-color);
    }
}

@keyframes completedTaskFadeOut {
    from {
        background-color: var(--v-completed-color);
    }

    to {
        background-color: var(--v-secondary-background-color);
    }
}

.fade-in {
    animation: fadeIn var(--v-animation-duration) forwards;
}

.fade-out {
    animation: fadeOut var(--v-animation-duration) forwards;
}

.task-completed-fade-in {
    animation: completedTaskFadeIn var(--v-animation-duration) forwards;
}

.task-completed-fade-out {
    animation: completedTaskFadeOut var(--v-animation-duration) forwards;
}